.sidebar {
	background-color: @color-primary-dark;
	width: @sidebar-width;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	transition: left 0.3s ease;

	.sidebar-open & {
		overflow-y: auto;
		overflow-x: hidden;
	}

	.brand {
		color: @color-primary;
		text-align: center;
		line-height: @header-height;
		font-size: 18px;

		@media @xs {
			line-height: @header-height-xs;
			font-size: 16px;
		}
	}

	.menu {
		position: absolute;
		top: 70px;
		right: 0;
		left: 0;
		bottom: 0;
		overflow-x: hidden;
		overflow-y: auto;
	}


	.nav {

		// Common styles
		li {
			a:focus,
			.open & a:focus {
				background-color: inherit;
			}
		}

		// Second + menu items
		ul {
			padding: 0;
			overflow: hidden;

			.loaded & {
				height: auto;
			}
		}

		li.active ul {
			height: auto;
		}


		// All links which are not active
		// have subdued color
		li a {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: fade(@color-text-inverse, 50%);
		}

		// All links which are not active
		// On hover bg become darker
		// Their color become lighter
		li a:hover,
		li.open > a,
		li.open a:hover {
			color: @color-text-inverse;
			background-color: @color-primary-darker;
		}


		// First level items
		&> li {

			// First level items links
			& > a {
				display: block;
				padding-top: 3px;
				padding-bottom: 3px;
				padding-left: 10px;
				padding-right: 0;

				i {
					opacity: 0.3;
				}
			}


			&.active > a {
				color: @color-text-inverse;
			}

			// First level active links have primary background
			&.active > a,
			&.active > a:hover {
				// background-color: @color-primary !important;
				// color: @color-text-inverse !important;

				i {
					opacity: 1;
				}
			}


		}
	}

}

.sidebar-overlay {
	position: absolute;
	display: none;
	left: 200vw;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 5;
	opacity: 0;
	transition: opacity 0.3s ease;

	@media @xs-sm {
		display: block;
	}

	@media @xs {
		background-color: fade(#000, 30%);
	}


	.sidebar-open & {
		@media @xs-sm {
			left: @sidebar-width;
			opacity: 1;
		}
	}
}